body{
    background-color: rgb(5, 221, 233);
    background-image: url(481.jpeg) ;
    color: rgb(242, 255, 0);
}

@font-face {
    font-family: "Pinyon_Script";
    src: url(fonts/Pinyon_Script/PinyonScript-Regular.ttf);
}

h1{
    font-size: 10rem;
    font-family: Pinyon_Script;
    position: absolute;
    top: 20%;
    left: 40cqi;

}

p{ 
    font-family: Pinyon_Script;
    position: absolute;
    top: 15%;
    left: 5cqi;
    font-size: 300px;
    mix-blend-mode: luminosity;
    color: aqua;
}


